<link rel="stylesheet" type="text/css" href="css/map.css">
<div class="map">
    <a class="map-node" href="s/north-springs-station" data-node-name="North Springs"></a>
    <a class="map-node" href="s/sandy-springs-station" data-node-name="Sandy Springs"></a>
    <a class="map-node" href="s/dunwoody-station" data-node-name="Dunwoody"></a>
    <a class="map-node" href="s/medical-center-station" data-node-name="Medical Center"></a>
    <a class="map-node" href="s/buckhead-station" data-node-name="Buckhead"></a>
    <a class="map-node" href="s/doraville-station" data-node-name="Doraville"></a>
    <a class="map-node" href="s/chamblee-station" data-node-name="Chamblee"></a>
    <a class="map-node" href="s/brookhaven-station" data-node-name="Brookhaven"></a>
    <a class="map-node" href="s/lenox-station" data-node-name="Lenox"></a>
    <a class="map-node" href="s/lindbergh-station" data-node-name="Lindbergh Center"></a>
    <a class="map-node" href="s/arts-center-station" data-node-name="Arts Center"></a>
    <a class="map-node" href="s/midtown-station" data-node-name="Midtown"></a>
    <a class="map-node" href="s/north-avenue-station" data-node-name="North Avenue"></a>
    <a class="map-node" href="s/civic-center-station" data-node-name="Civic Center"></a>
    <a class="map-node" href="s/peachtree-center-station" data-node-name="Peachtree Center"></a>
    <a class="map-node" href="s/five-points-station" data-node-name="Five Points"></a>
    <a class="map-node" href="s/garnett-station" data-node-name="Garnett"></a>
    <a class="map-node" href="s/west-end-station" data-node-name="West End"></a>
    <a class="map-node" href="s/oakland-city-station" data-node-name="Oakland City"></a>
    <a class="map-node" href="s/lakewood-station" data-node-name="Lakewood"></a>
    <a class="map-node" href="s/east-point-station" data-node-name="East Point"></a>
    <a class="map-node" href="s/college-park-station" data-node-name="College Park"></a>
    <a class="map-node" href="s/airport-station" data-node-name="Airport"></a>
    <a class="map-node" href="s/he-holmes-station" data-node-name="HE Holmes"></a>
    <a class="map-node" href="s/bankhead-station" data-node-name="Bankhead"></a>
    <a class="map-node" href="s/west-lake-station" data-node-name="West Lake"></a>
    <a class="map-node" href="s/ashby-station" data-node-name="Ashby"></a>
    <a class="map-node" href="s/vine-city-station" data-node-name="Vine City"></a>
    <a class="map-node" href="s/omni-dome-station" data-node-name="Omni Dome"></a>
    <a class="map-node" href="s/georgia-state-station" data-node-name="Georgia State"></a>
    <a class="map-node" href="s/king-memorial-station" data-node-name="King Memorial"></a>
    <a class="map-node" href="s/inman-park-station" data-node-name="Inman Park"></a>
    <a class="map-node" href="s/edgewood-candler-park-station" data-node-name="Edgewood/Candler Park"></a>
    <a class="map-node" href="s/east-lake-station" data-node-name="East Lake"></a>
    <a class="map-node" href="s/decatur-station" data-node-name="Decatur"></a>
    <a class="map-node" href="s/avondale-station" data-node-name="Avondale"></a>
    <a class="map-node" href="s/kensington-station" data-node-name="Kensington"></a>
    <a class="map-node" href="s/indian-creek-station" data-node-name="Indian Creek"></a>
</div>