.map {
    height: 750px;
    width: 100%;
    overflow: auto;
    display: block;
}

a.map-node {
    position: relative;
    display: block;
    width: 0;
    height: 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 7px solid #FFF;
    text-decoration: none;
    white-space: nowrap;
}

[data-node-name="North Springs"] {
    top: 5%;
    left: 40%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Sandy Springs"] {
    top: 10%;
    left: 40%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Dunwoody"] {
    top: 15%;
    left: 40%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Medical Center"] {
    top: 20%;
    left: 40%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Buckhead"] {
    top: 30%;
    left: 40%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Doraville"] {
    top: 37%;
    left: 40%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Chamblee"] {
    top: 45%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Brookhaven/Oglethorpe"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Lenox"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Lindbergh Center"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Arts Center"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Midtown"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="North Avenue"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Civic Center"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Peachtree Center"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Five Points"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Garnett"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="West End"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Oakland City"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Lakewood/Ft. McPherson"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="East Point"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="College Park"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Airport"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Hamilton E Holmes"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Bankhead"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="West Lake"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Ashby"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Vine City"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Dome/GWCC/Philips/CNN"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Georgia State"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="King Memorial"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Inman Park/Reynoldstown"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Edgewood/Candler Park"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="East Lake"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Decatur"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Avondale"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Kensington"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}
[data-node-name="Indian Creek"] {
    top: 0%;
    left: 0%;

    &:after {
        content: attr(data-node-name);
    }
}