/* line 1, ../scss/map.scss */
.map {
  height: 750px;
  width: 100%;
  overflow: auto;
  display: block;
}

/* line 8, ../scss/map.scss */
a.map-node {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 7px solid #FFF;
  text-decoration: none;
  white-space: nowrap;
}

/* line 21, ../scss/map.scss */
[data-node-name="North Springs"] {
  top: 5%;
  left: 40%;
}
/* line 25, ../scss/map.scss */
[data-node-name="North Springs"]:after {
  content: attr(data-node-name);
}

/* line 29, ../scss/map.scss */
[data-node-name="Sandy Springs"] {
  top: 10%;
  left: 40%;
}
/* line 33, ../scss/map.scss */
[data-node-name="Sandy Springs"]:after {
  content: attr(data-node-name);
}

/* line 37, ../scss/map.scss */
[data-node-name="Dunwoody"] {
  top: 15%;
  left: 40%;
}
/* line 41, ../scss/map.scss */
[data-node-name="Dunwoody"]:after {
  content: attr(data-node-name);
}

/* line 45, ../scss/map.scss */
[data-node-name="Medical Center"] {
  top: 20%;
  left: 40%;
}
/* line 49, ../scss/map.scss */
[data-node-name="Medical Center"]:after {
  content: attr(data-node-name);
}

/* line 53, ../scss/map.scss */
[data-node-name="Buckhead"] {
  top: 30%;
  left: 40%;
}
/* line 57, ../scss/map.scss */
[data-node-name="Buckhead"]:after {
  content: attr(data-node-name);
}

/* line 61, ../scss/map.scss */
[data-node-name="Doraville"] {
  top: 37%;
  left: 40%;
}
/* line 65, ../scss/map.scss */
[data-node-name="Doraville"]:after {
  content: attr(data-node-name);
}

/* line 69, ../scss/map.scss */
[data-node-name="Chamblee"] {
  top: 45%;
  left: 0%;
}
/* line 73, ../scss/map.scss */
[data-node-name="Chamblee"]:after {
  content: attr(data-node-name);
}

/* line 77, ../scss/map.scss */
[data-node-name="Brookhaven/Oglethorpe"] {
  top: 0%;
  left: 0%;
}
/* line 81, ../scss/map.scss */
[data-node-name="Brookhaven/Oglethorpe"]:after {
  content: attr(data-node-name);
}

/* line 85, ../scss/map.scss */
[data-node-name="Lenox"] {
  top: 0%;
  left: 0%;
}
/* line 89, ../scss/map.scss */
[data-node-name="Lenox"]:after {
  content: attr(data-node-name);
}

/* line 93, ../scss/map.scss */
[data-node-name="Lindbergh Center"] {
  top: 0%;
  left: 0%;
}
/* line 97, ../scss/map.scss */
[data-node-name="Lindbergh Center"]:after {
  content: attr(data-node-name);
}

/* line 101, ../scss/map.scss */
[data-node-name="Arts Center"] {
  top: 0%;
  left: 0%;
}
/* line 105, ../scss/map.scss */
[data-node-name="Arts Center"]:after {
  content: attr(data-node-name);
}

/* line 109, ../scss/map.scss */
[data-node-name="Midtown"] {
  top: 0%;
  left: 0%;
}
/* line 113, ../scss/map.scss */
[data-node-name="Midtown"]:after {
  content: attr(data-node-name);
}

/* line 117, ../scss/map.scss */
[data-node-name="North Avenue"] {
  top: 0%;
  left: 0%;
}
/* line 121, ../scss/map.scss */
[data-node-name="North Avenue"]:after {
  content: attr(data-node-name);
}

/* line 125, ../scss/map.scss */
[data-node-name="Civic Center"] {
  top: 0%;
  left: 0%;
}
/* line 129, ../scss/map.scss */
[data-node-name="Civic Center"]:after {
  content: attr(data-node-name);
}

/* line 133, ../scss/map.scss */
[data-node-name="Peachtree Center"] {
  top: 0%;
  left: 0%;
}
/* line 137, ../scss/map.scss */
[data-node-name="Peachtree Center"]:after {
  content: attr(data-node-name);
}

/* line 141, ../scss/map.scss */
[data-node-name="Five Points"] {
  top: 0%;
  left: 0%;
}
/* line 145, ../scss/map.scss */
[data-node-name="Five Points"]:after {
  content: attr(data-node-name);
}

/* line 149, ../scss/map.scss */
[data-node-name="Garnett"] {
  top: 0%;
  left: 0%;
}
/* line 153, ../scss/map.scss */
[data-node-name="Garnett"]:after {
  content: attr(data-node-name);
}

/* line 157, ../scss/map.scss */
[data-node-name="West End"] {
  top: 0%;
  left: 0%;
}
/* line 161, ../scss/map.scss */
[data-node-name="West End"]:after {
  content: attr(data-node-name);
}

/* line 165, ../scss/map.scss */
[data-node-name="Oakland City"] {
  top: 0%;
  left: 0%;
}
/* line 169, ../scss/map.scss */
[data-node-name="Oakland City"]:after {
  content: attr(data-node-name);
}

/* line 173, ../scss/map.scss */
[data-node-name="Lakewood/Ft. McPherson"] {
  top: 0%;
  left: 0%;
}
/* line 177, ../scss/map.scss */
[data-node-name="Lakewood/Ft. McPherson"]:after {
  content: attr(data-node-name);
}

/* line 181, ../scss/map.scss */
[data-node-name="East Point"] {
  top: 0%;
  left: 0%;
}
/* line 185, ../scss/map.scss */
[data-node-name="East Point"]:after {
  content: attr(data-node-name);
}

/* line 189, ../scss/map.scss */
[data-node-name="College Park"] {
  top: 0%;
  left: 0%;
}
/* line 193, ../scss/map.scss */
[data-node-name="College Park"]:after {
  content: attr(data-node-name);
}

/* line 197, ../scss/map.scss */
[data-node-name="Airport"] {
  top: 0%;
  left: 0%;
}
/* line 201, ../scss/map.scss */
[data-node-name="Airport"]:after {
  content: attr(data-node-name);
}

/* line 205, ../scss/map.scss */
[data-node-name="Hamilton E Holmes"] {
  top: 0%;
  left: 0%;
}
/* line 209, ../scss/map.scss */
[data-node-name="Hamilton E Holmes"]:after {
  content: attr(data-node-name);
}

/* line 213, ../scss/map.scss */
[data-node-name="Bankhead"] {
  top: 0%;
  left: 0%;
}
/* line 217, ../scss/map.scss */
[data-node-name="Bankhead"]:after {
  content: attr(data-node-name);
}

/* line 221, ../scss/map.scss */
[data-node-name="West Lake"] {
  top: 0%;
  left: 0%;
}
/* line 225, ../scss/map.scss */
[data-node-name="West Lake"]:after {
  content: attr(data-node-name);
}

/* line 229, ../scss/map.scss */
[data-node-name="Ashby"] {
  top: 0%;
  left: 0%;
}
/* line 233, ../scss/map.scss */
[data-node-name="Ashby"]:after {
  content: attr(data-node-name);
}

/* line 237, ../scss/map.scss */
[data-node-name="Vine City"] {
  top: 0%;
  left: 0%;
}
/* line 241, ../scss/map.scss */
[data-node-name="Vine City"]:after {
  content: attr(data-node-name);
}

/* line 245, ../scss/map.scss */
[data-node-name="Dome/GWCC/Philips/CNN"] {
  top: 0%;
  left: 0%;
}
/* line 249, ../scss/map.scss */
[data-node-name="Dome/GWCC/Philips/CNN"]:after {
  content: attr(data-node-name);
}

/* line 253, ../scss/map.scss */
[data-node-name="Georgia State"] {
  top: 0%;
  left: 0%;
}
/* line 257, ../scss/map.scss */
[data-node-name="Georgia State"]:after {
  content: attr(data-node-name);
}

/* line 261, ../scss/map.scss */
[data-node-name="King Memorial"] {
  top: 0%;
  left: 0%;
}
/* line 265, ../scss/map.scss */
[data-node-name="King Memorial"]:after {
  content: attr(data-node-name);
}

/* line 269, ../scss/map.scss */
[data-node-name="Inman Park/Reynoldstown"] {
  top: 0%;
  left: 0%;
}
/* line 273, ../scss/map.scss */
[data-node-name="Inman Park/Reynoldstown"]:after {
  content: attr(data-node-name);
}

/* line 277, ../scss/map.scss */
[data-node-name="Edgewood/Candler Park"] {
  top: 0%;
  left: 0%;
}
/* line 281, ../scss/map.scss */
[data-node-name="Edgewood/Candler Park"]:after {
  content: attr(data-node-name);
}

/* line 285, ../scss/map.scss */
[data-node-name="East Lake"] {
  top: 0%;
  left: 0%;
}
/* line 289, ../scss/map.scss */
[data-node-name="East Lake"]:after {
  content: attr(data-node-name);
}

/* line 293, ../scss/map.scss */
[data-node-name="Decatur"] {
  top: 0%;
  left: 0%;
}
/* line 297, ../scss/map.scss */
[data-node-name="Decatur"]:after {
  content: attr(data-node-name);
}

/* line 301, ../scss/map.scss */
[data-node-name="Avondale"] {
  top: 0%;
  left: 0%;
}
/* line 305, ../scss/map.scss */
[data-node-name="Avondale"]:after {
  content: attr(data-node-name);
}

/* line 309, ../scss/map.scss */
[data-node-name="Kensington"] {
  top: 0%;
  left: 0%;
}
/* line 313, ../scss/map.scss */
[data-node-name="Kensington"]:after {
  content: attr(data-node-name);
}

/* line 317, ../scss/map.scss */
[data-node-name="Indian Creek"] {
  top: 0%;
  left: 0%;
}
/* line 321, ../scss/map.scss */
[data-node-name="Indian Creek"]:after {
  content: attr(data-node-name);
}
