/* line 2, ../scss/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 28, ../scss/map.scss */
.map {
  height: 750px;
  width: 100%;
  min-width: 320px;
  overflow: hidden;
  display: block;
  position: relative;
}
@media screen and (max-width: 480px) {
  /* line 28, ../scss/map.scss */
  .map {
    height: 600px;
  }
}

/* line 46, ../scss/map.scss */
a.map-node {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 7px solid #aaaaaa;
  text-decoration: none;
  white-space: nowrap;
  color: #aaaaaa;
  -webkit-box-shadow: 0 0 0 2px #2d3545;
  -moz-box-shadow: 0 0 0 2px #2d3545;
  box-shadow: 0 0 0 2px #2d3545;
}
/* line 60, ../scss/map.scss */
a.map-node.active {
  color: #FFF;
  border-color: #FFF;
  -webkit-box-shadow: 0 0 0 2px black;
  -moz-box-shadow: 0 0 0 2px black;
  box-shadow: 0 0 0 2px black;
}
/* line 66, ../scss/map.scss */
a.map-node:hover {
  color: #FFF;
  border-color: #FFF;
  -webkit-box-shadow: 0 0 0 2px black;
  -moz-box-shadow: 0 0 0 2px black;
  box-shadow: 0 0 0 2px black;
}
/* line 74, ../scss/map.scss */
a.map-node.label:after {
  position: absolute;
  content: attr(data-node-name);
}
@media screen and (max-width: 480px) {
  /* line 74, ../scss/map.scss */
  a.map-node.label:after {
    font-size: 80%;
  }
}
/* line 84, ../scss/map.scss */
a.map-node.label.left:after {
  right: 15px;
  top: -8px;
}
/* line 91, ../scss/map.scss */
a.map-node.label.right:after {
  left: 15px;
  top: -8px;
}
/* line 98, ../scss/map.scss */
a.map-node.label.top:after {
  width: 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  bottom: 10px;
}
/* line 106, ../scss/map.scss */
a.map-node.label.bottom:after {
  width: 100px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  text-align: right;
  top: 60px;
  left: -50px;
}

/* line 118, ../scss/map.scss */
[data-node-name="North Springs"] {
  top: 5%;
  left: 40%;
}

/* line 122, ../scss/map.scss */
[data-node-name="Sandy Springs"] {
  top: 10%;
  left: 40%;
}

/* line 126, ../scss/map.scss */
[data-node-name="Dunwoody"] {
  top: 15%;
  left: 40%;
}

/* line 130, ../scss/map.scss */
[data-node-name="Medical Center"] {
  top: 20%;
  left: 40%;
}

/* line 134, ../scss/map.scss */
[data-node-name="Buckhead"] {
  top: 25%;
  left: 40%;
}

/* line 138, ../scss/map.scss */
[data-node-name="Doraville"] {
  top: 10%;
  left: 60%;
}

/* line 142, ../scss/map.scss */
[data-node-name="Chamblee"] {
  top: 15%;
  left: 60%;
}

/* line 146, ../scss/map.scss */
[data-node-name="Brookhaven"] {
  top: 20%;
  left: 60%;
}

/* line 150, ../scss/map.scss */
[data-node-name="Lenox"] {
  top: 25%;
  left: 60%;
}

/* line 154, ../scss/map.scss */
[data-node-name="Lindbergh Center"] {
  top: 30%;
  left: 40%;
}

/* line 158, ../scss/map.scss */
[data-node-name="Arts Center"] {
  top: 35%;
  left: 40%;
}

/* line 162, ../scss/map.scss */
[data-node-name="Midtown"] {
  top: 40%;
  left: 40%;
}

/* line 166, ../scss/map.scss */
[data-node-name="North Avenue"] {
  top: 45%;
  left: 40%;
}

/* line 170, ../scss/map.scss */
[data-node-name="Civic Center"] {
  top: 50%;
  left: 40%;
}

/* line 174, ../scss/map.scss */
[data-node-name="Peachtree Center"] {
  top: 55%;
  left: 40%;
}

/* line 178, ../scss/map.scss */
[data-node-name="Five Points"] {
  top: 60%;
  left: 40%;
}
/* line 182, ../scss/map.scss */
[data-node-name="Five Points"].map-node {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  border: 12px solid #aaaaaa;
  margin-left: -6px;
  margin-top: -5px;
}
/* line 191, ../scss/map.scss */
[data-node-name="Five Points"].label:after {
  display: none;
}

/* line 195, ../scss/map.scss */
[data-node-name="Garnett"] {
  top: 65%;
  left: 40%;
}

/* line 199, ../scss/map.scss */
[data-node-name="West End"] {
  top: 70%;
  left: 40%;
}

/* line 203, ../scss/map.scss */
[data-node-name="Oakland City"] {
  top: 75%;
  left: 40%;
}

/* line 207, ../scss/map.scss */
[data-node-name="Lakewood"] {
  top: 80%;
  left: 40%;
}

/* line 211, ../scss/map.scss */
[data-node-name="East Point"] {
  top: 85%;
  left: 40%;
}

/* line 215, ../scss/map.scss */
[data-node-name="College Park"] {
  top: 90%;
  left: 40%;
}

/* line 219, ../scss/map.scss */
[data-node-name="Airport"] {
  top: 95%;
  left: 40%;
}

/* line 223, ../scss/map.scss */
[data-node-name="HE Holmes"] {
  top: 60%;
  left: 6%;
}

/* line 227, ../scss/map.scss */
[data-node-name="Bankhead"] {
  top: 50%;
  left: 10%;
}

/* line 231, ../scss/map.scss */
[data-node-name="West Lake"] {
  top: 60%;
  left: 13%;
}

/* line 235, ../scss/map.scss */
[data-node-name="Ashby"] {
  top: 60%;
  left: 20%;
}

/* line 239, ../scss/map.scss */
[data-node-name="Vine City"] {
  top: 60%;
  left: 27%;
}

/* line 243, ../scss/map.scss */
[data-node-name="Omni Dome"] {
  top: 60%;
  left: 33%;
}

/* line 247, ../scss/map.scss */
[data-node-name="Georgia State"] {
  top: 60%;
  left: 46%;
}

/* line 251, ../scss/map.scss */
[data-node-name="King Memorial"] {
  top: 60%;
  left: 52%;
}

/* line 255, ../scss/map.scss */
[data-node-name="Inman Park"] {
  top: 60%;
  left: 58%;
}

/* line 259, ../scss/map.scss */
[data-node-name="Candler Park"] {
  top: 60%;
  left: 64%;
}

/* line 263, ../scss/map.scss */
[data-node-name="East Lake"] {
  top: 60%;
  left: 70%;
}

/* line 267, ../scss/map.scss */
[data-node-name="Decatur"] {
  top: 60%;
  left: 76%;
}

/* line 271, ../scss/map.scss */
[data-node-name="Avondale"] {
  top: 60%;
  left: 82%;
}

/* line 275, ../scss/map.scss */
[data-node-name="Kensington"] {
  top: 60%;
  left: 88%;
}

/* line 279, ../scss/map.scss */
[data-node-name="Indian Creek"] {
  top: 60%;
  left: 94%;
}

/* line 284, ../scss/map.scss */
div.line {
  position: absolute;
}
/* line 287, ../scss/map.scss */
div.line.red {
  background: #f22a2a;
}
/* line 291, ../scss/map.scss */
div.line.gold {
  background: #d4d22a;
}
/* line 295, ../scss/map.scss */
div.line.blue {
  background: #3aa1dc;
}
/* line 299, ../scss/map.scss */
div.line.green {
  background: #38d943;
}
/* line 303, ../scss/map.scss */
div.line.north-south {
  width: 5px;
}
/* line 307, ../scss/map.scss */
div.line.east-west {
  height: 5px;
}

/* line 312, ../scss/map.scss */
[data-line-name="North Springs to Airport"] {
  height: 675px;
  top: 5%;
  left: 40%;
  margin-top: 7px;
  margin-left: 2px;
}
@media screen and (max-width: 480px) {
  /* line 312, ../scss/map.scss */
  [data-line-name="North Springs to Airport"] {
    height: 540px;
  }
}

/* line 325, ../scss/map.scss */
[data-line-name="Lindbergh to Airport"] {
  height: 502px;
  top: 28%;
  left: 40%;
  margin-top: 7px;
  margin-left: 7px;
}
@media screen and (max-width: 480px) {
  /* line 325, ../scss/map.scss */
  [data-line-name="Lindbergh to Airport"] {
    height: 402px;
  }
}

/* line 338, ../scss/map.scss */
[data-line-name="Lindbergh Connector"] {
  top: 28%;
  left: 40%;
  width: 20%;
  margin-top: 2px;
  margin-left: 5px;
}

/* line 347, ../scss/map.scss */
[data-line-name="Doraville to Connector"] {
  top: 10%;
  left: 60%;
  margin-top: 2px;
  margin-left: 5px;
  height: 140px;
}
@media screen and (max-width: 480px) {
  /* line 347, ../scss/map.scss */
  [data-line-name="Doraville to Connector"] {
    height: 113px;
  }
}

/* line 361, ../scss/map.scss */
[data-line-name="HE Holmes to Indian Creek"] {
  top: 60%;
  left: 6%;
  width: 88%;
  margin-top: 7px;
  margin-left: 5px;
}

/* line 370, ../scss/map.scss */
[data-line-name="Ashby to Edgewood"] {
  top: 60%;
  left: 17%;
  width: 47%;
  margin-top: 2px;
  margin-left: 5px;
}

/* line 379, ../scss/map.scss */
[data-line-name="Bankhead"] {
  top: 50%;
  left: 10%;
  width: 7%;
  margin-top: 4px;
  margin-left: 5px;
}

/* line 388, ../scss/map.scss */
[data-line-name="Ashby Connector"] {
  top: 50%;
  left: 17%;
  margin-top: 4px;
  margin-left: 5px;
  height: 75px;
}
@media screen and (max-width: 480px) {
  /* line 388, ../scss/map.scss */
  [data-line-name="Ashby Connector"] {
    height: 60px;
  }
}
